# Question 1

In [4]:
x = 0
def y():
    global x
    x = c(x)
def c(x):
    return x + 2

In [5]:
y()                                
y()                                
y()                                
x

6

# Question 2

In [25]:
def file_length(a):                                          
    try:                                                    
        file = open(a, "r")                                     
        contents=file.read()                                               
        print('Given file length is : '+ str(len(contents)))         
        file.close()                                                   
    except:                                                           
        print('File '+a+' not found.')

In [28]:
file_length("python.py")

Given file length is : 11

In [29]:
length("python2.py")

Error, File python2.py not found.

# Question 3

In [30]:
class Marsupial(object):                     
  
    def __init__(self):                               
        self.list1 = []                     
    def put_in_pouch(self, item):            
        self.list1.append(item)
    def pouch_contents(self):                
        return self.list1

In [47]:
x = Marsupial()
x.put_in_pouch('doll')
x.put_in_pouch('firetruck')
x.put_in_pouch('kitten')
x.pouch_contents()

['doll', 'firetruck', 'kitten']

In [48]:
class Kangaroo(Marsupial):                      
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                 
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                       
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [49]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [50]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [51]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [37]:
def collatz(val1):                   
   
    if val1 != 1:                   
        if val1%2!=0:                
            print(int(val1))       
            collatz(3*val1+1)       
        
        else:
            print(int(val1))         
            collatz(val1/2)          
  
    else:
        print(int(val1));

In [38]:
collatz(1)

1

In [39]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [2]:
def binary(x):
    
    if x>0:                           
        return (x % 2 + 10*binary(int(x // 2)))
       
    else:
         return 0

In [3]:
binary(0)

0

In [4]:
binary(1)

1

In [5]:
binary(3)

11

In [5]:
binary(9)

1001

# Question 6

In [8]:
from html.parser import HTMLParser                               
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head =0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attrs):              
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                             
        if self.head=="type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [9]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

# Question 7

# Question 8

In [10]:
import sqlite3
connect = sqlite3.connect('database_db')
cursor = connect.cursor()
cursor.execute("CREATE TABLE data (City text, Country text, Season text, Temperature dec, Rainfall dec)")
cursor.execute("INSERT INTO data VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cursor.execute("INSERT INTO data VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cursor.execute("INSERT INTO data VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cursor.execute("INSERT INTO data VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cursor.execute("INSERT INTO data VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cursor.execute("INSERT INTO data VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cursor.execute("INSERT INTO data VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cursor.execute("INSERT INTO data VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cursor.execute("INSERT INTO data VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cursor.execute("INSERT INTO data VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cursor.execute("INSERT INTO data VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cursor.execute("INSERT INTO data VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
connect.commit()
connect.close()

In [15]:
import sqlite3
connect = sqlite3.connect('database_db')
cursor = connect.cursor()
cursor.execute('SELECT Temperature FROM data ')
for record in cursor:
    print(record)
cursor.execute('SELECT DISTINCT City FROM data ')
for record in cursor:
    print(record)
cursor.execute('SELECT * FROM data  where Season="Fall"')
for record in cursor:
    print(record)
cursor.execute('SELECT * FROM data  where Country="India"')
for record in cursor:
    print(record)
cursor.execute('SELECT City,Country FROM data  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in cursor:
    print(record)
cursor.execute('SELECT City,Country,Season FROM data  where (rainfall>200) AND (rainfall<400)')
for record in cursor:
    print(record)
cursor.execute('SELECT SUM(Rainfall) FROM data  where City="Cairo"')
Annual_rainfall=cursor.fetchall()
print(Annual_rainfall)
cursor.execute('SELECT SUM(Rainfall),Season FROM data  GROUP BY Season')
for record in cursor:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

In [16]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[x.upper() for x in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [17]:
[x.lower() for x in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [18]:
[len(x) for x in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [19]:
[[x.upper(),x.lower(),len(x)] for x in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [20]:
[x for x in words if len(x) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']